@charset "UTF-8";

html {
  font-size: 100%;
}

body {
  color: #333;
  font-size: 14px;
  min-height: 100vh;
  position: relative;
}

img {
  max-width: 100%;
}

li {
  list-style: none;
}

a {
  color:#333;
  text-decoration: none;
  transition: all 0.5s;
}

a:hover {
  opacity: .7;
}

.wrapper {
  width: 100%;
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 40px;
}

.content {
  padding-top: 120px;
  padding-bottom: 160px;
}

.site-title a{
  width: 180px;
  line-height: 1px;
  display: block;
}

/*------------------header------------------*/
#header {
  width: 100%;
  height: 80px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 10;

    .openbtn {
      position: relative;
	    width: 30px;
      height:30px;
	    cursor: pointer;
      transition: all 0.5s;
      z-index: 20;

      span {
        display: block;
        transition: all 0.5s;
        position: absolute;
        width: 30px;
        height: 2px;
	      background-color: #333;
        border-radius: 4px;
      }
    
      span:nth-child(1) {
        top:10px;
      }
      span:nth-child(2) {
        bottom: 10px;
      }
    
    &:nth-child(1) {
      -webkit-transform: translateY(4px) rotate(-45deg);
      transform: translateY(4px) rotate(-45deg);
    }
    &:nth-child(2) {
      -webkit-transform: translateY(-4px) rotate(45deg);
      transform: translateY(-4px) rotate(45deg);
    }
  }
}

.open #navi {
  left: 0;
  opacity: 1;
}

.open .openbtn {
  span {
    background-color: #fff;
  }
}


#navi {
  position: fixed;
  top: 0;
  left: -300px;
  width: 300px;
  color: #fff;
  transition: all 0.5s;
  padding: 36px 50px;
  z-index: 20;
  opacity: 0;
}

#navi {
  a {
    color: #fff;
  }
  li {
    margin-bottom: 14px;
  }
}

.mask {
  display: noen;
  transition: all 0.5s;
}

.open {
  .mask {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .8;
    z-index: 10;
    cursor: pointer;
  }

}
